@font-face {
  font-family: "iconfont"; /* Project id 3807886 */
  src: url('iconfont.woff2?t=1670511550949') format('woff2'),
       url('iconfont.woff?t=1670511550949') format('woff'),
       url('iconfont.ttf?t=1670511550949') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e697";
}

.icon-tianjia:before {
  content: "\e622";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-up:before {
  content: "\e686";
}

.icon-delete:before {
  content: "\e74b";
}

.icon-settings:before {
  content: "\e8b8";
}

.icon-zhuanti:before {
  content: "\e64b";
}

.icon-blog:before {
  content: "\e63a";
}

.icon-account:before {
  content: "\e6a3";
}

.icon-password:before {
  content: "\e65d";
}

